<html xmlns:xlink="http://www.w3.org/1999/xlink">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script data-main="js/app" src="js/require.js"></script>
  <!-- // <script src="/card.js"></script> -->
  <!-- // <script src='/carousel.js'></script> -->
  <link rel="stylesheet" type="text/css" href="/style.css">

  <div class="card-portal">
    <div class="card-types"></div>
    <div class="card-sets">
      <form id="profile" name="profile" method="POST">
        <label>Enter Name Before Proceeding<input type="text" placeholder="Enter Name of Your Deck" /></label>
        <button type="submit">Save</button>
      </form>
      <form id="decks" name="decks">
        <select class="decks">
          <option selected>Loading Card Sets...</option>
        </select>
        <select name='display'>
          <option selected>Sort By:</option>
          <option>CMC</option>
          <option>Color</option>
          <option>Spell</option>
        </select>
        <button name="submit">Save Set</button>
      </form>
    </div>
    <div class="sub-set">
      <div class='pictures'></div>
    </div>
    <div id="visualizer">
      <div class="img" style="display:none"></div>
      <div class="card-placeholder"></div>
      <div class="player"></div>
    </div>
  </div>
</html>
