<html xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
  <script data-main="js/app.js" src="js/require.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <!-- <header>Matt's Super Happy Fun-Time Magic: The Gathering Viz!</header> -->
  <body>

    <div id="viz-table">
      <!-- svg element here -->
    </div>

    <div id="expansion-list">
      <span><a href="#">Loading List...</a></span>
    </div>
  </body>
</html>